<div class="container">
	<h2>Liste des clients</h2>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Civilité</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Date de naissance</th>
			<th>Email</th>
			<th>Téléphone</th>
			<th>Professionnel ?</th>
			<th>Rue</th>
			<th>Code postal</th>
			<th>Ville</th>
			<th>N° Banque</th>
			<th>N° Agence</th>
			<th colspan="2"></th>
		</tr>


		<tr ng-repeat="client in clientCtrl.clients">
			<td>{{client.id}}</td>
			<td>{{client.titre}}</td>
			<td>{{client.nom}}</td>
			<td>{{client.prenom}}</td>
			<td>{{client.dtNaissance | date:'dd/MM/yyyy'}}</td>
			<td>{{client.email}}</td>
			<td>{{client.telephone}}</td>
			<td>{{client.professionnel}}</td>
			<td>{{client.adr.rue}}</td>
			<td>{{client.adr.codePostal}}</td>
			<td>{{client.adr.ville}}</td>
			<td>{{client.agence.id.numBanque}}</td>
			<td>{{client.agence.id.numAgence}}</td>
			<td><a class="btn btn-info btn-xs"
				ng-click="clientCtrl.edit(client.id)">Editer</a></td>
			<td><a class="btn btn-info btn-xs"
				ng-click="clientCtrl.remove(client.id)">Supprimer</a></td>
		</tr>

		<tr>
			<td colspan="13"><a class="btn btn-info"
				ng-click="clientCtrl.add()">Ajouter un client</a></td>
		</tr>
	</table>

	<fieldset ng-show="clientCtrl.client">
		<legend>Edition du client</legend>
		<form method="post" ng-submit="clientCtrl.save()">
				<input type="hidden" id="id"
					ng-model="clientCtrl.client.id" />
			<div class="form-group">
				<label for="civilite">Civilité</label> <select id="civilite"
					ng-model="clientCtrl.client.titre"
					ng-options="civilite for civilite in clientCtrl.civilites"></select>
			</div>
			<div class="form-group">
				<label for="nom">Nom</label> <input type="text" id="nom"
					ng-model="clientCtrl.client.nom" />
			</div>
			<div class="form-group">
				<label for="prenom">Prénom</label> <input type="text" id="prenom"
					ng-model="clientCtrl.client.prenom" />
			</div>
			<div class="form-group">
				<label for="dtNaissance">Date de naissance</label> <input
					type="date" id="dtNaissance"
					ng-model="clientCtrl.client.dtNaissance" />
			</div>
			<div class="form-group">
				<label for="email">Email</label> <input type="email" id="email"
					ng-model="clientCtrl.client.email" />
			</div>
			<div class="form-group">
				<label for="telephone">Téléphone</label> <input type="text"
					id="telephone" ng-model="clientCtrl.client.telephone" />
			</div>
			<div class="form-group">
				<label for="professionnel">Professionnel</label> <input
					type="checkbox" id="professionnel"
					ng-model="clientCtrl.client.professionnel" />
			</div>
			<div class="form-group">
				<label for="adr.rue">Rue</label> <input type="text"
					id="adr.rue" ng-model="clientCtrl.client.adr.rue" />
			</div>
			<div class="form-group">
				<label for="adr.codePostal">Code postal</label> <input
					type="text" id="adr.codePostal"
					ng-model="clientCtrl.client.adr.codePostal" />
			</div>
			<div class="form-group">
				<label for="adr.ville">Ville</label> <input type="text"
					id="adr.ville" ng-model="clientCtrl.client.adr.ville" />
			</div>
			<div class="form-group">
				<label for="agence">Libellé Agence</label>
				<select id="agence" ng-model="clientCtrl.client.agence" 
					ng-options="agence as agence.libelle for agence in clientCtrl.agences track by agence.libelle">
					</select>
			</div>
			<input type="submit" value="Valider" class="btn btn-default" />
		</form>
	</fieldset>
</div>
